h1 {
    font-family: sans-serif;
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.pageContent {
    padding-top: 50px;
}

.galleryItem {
    margin: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius:25px;
    text-align: center;
    min-height: 240px;
}

.galleryItem img {
    max-height: 240px;
    max-width: 320px;
    cursor: pointer;
    border-radius:25px;
}
.navbar { 
    background-color: #992211;
    border-bottom: 2px solid #000;
    border-top: 3px solid #000;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #fff;
}

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: 100px;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

footer a { 
    color: #FFF;
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
    color: #FFF;
}

.img-circle {
    border: 2px solid #CCC;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        
        height: 60px;
    }
}

