{% extends "siteTemplate.html" %} {% load staticfiles %}

{% block content %}
    <img src="/static/images/riderStandingHorse.jpg" alt="Young rider standing on horses saddle" style="float:right; margin:-10px 0 0 10px;" />

    <p>Hello, my name is Ben VanderMeer, I have owned and operated Montasola Farms since 2004.  Montasola Farms is quietly nestled in the middle of 100 acres, surrounded by bush and conservation land.  I offer both full board and self board options and I am conveniently located 10 minuntes from the US / Canadian Peace Bridge and 10 minutes from the Fort Erie Race track.</p>

    <p>I earned equestrian and horticultural diplomas from Kemptville College, owning my own farm has always been a life goal for me and I am extremely proud of the facility that I have spent years building.</p>

    <p>I am constantly working hard to provide an excellent facility for you and your horse to enjoy.  We have a lot of things going on on the farm right now and I will do my best to keep you all informed of what we have to offer. I come from a hard working farm family and I want your family to feel at home.  When I say your family, I am including your horse, I know first hand the relationship you have with your horse and I will ensure our facilites are up to the challenge to keep your family safe and comfortable.</p>
    
    <p>If you are interested in learning more visit <a href="/contact/">Contact Us</a> for the most accurate contact information.  If you have already trusted my facilty to care for your horse and you have any concerns please don't hesitate to get in contact with me.</p>

{{ content }}
{% endblock %}